@import '~bootstrap/scss/bootstrap';
$font-color: #D3D3D3;

body {
  background-color: none;
  // background-image: url('public/rainbow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  align-items: center;
  color: $font-color;
  display: flex;
  height: 500px;
  justify-content: center;
}

// footer {
//   // background-image: url('public/vegetables.png');
//   background-size: cover;
//   color: white;
//   font-size: 15px;
//   // padding: 25px;
// }

h4 {
  color: $text-color;
  font-size: 25px;
  padding: 25px;
  width: 350px;
}

// .navbar {
//   height: 20px;
//   width: 100vh;
// }

.row {
  color: $text-color;
  height: auto;
}

.user-message {
  color: $text-color;
  display: flex;
  justify-content: flex-end;
}

// #footer {
//   background-image: url('public/vegetables.png');
//   height: 350px;
// }
