@import '~bootstrap/scss/bootstrap';

$font-color: $light;

body {
  // background-color: $secondary;
  background-image: url("public/CBC.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  align-items: center;
  // background-color: $secondary;
  // border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 300px;
  justify-content: center;
}

footer {
  padding: 25px;
  color: white;
  font-size: 15px;
}

h1 {
  color: white;
  font-size: 100px;
}

h4 {
  color: white;
  font-size: 25px;
  padding: 25px;
  width: 350px;
}

.row {
  height: auto;
}

.user-message {
  color: white;
}
