@import '~bootstrap/scss/bootstrap';

$font-color: $light;

body {
  background-color: $secondary;
}

.box {
  align-items: center;
  background-color: $secondary;
  // border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 200px;
  justify-content: center;
}

h4 {
  font-size: 20px;
  color: black;
  width: 350px;
}
